body{
    
    width: 50%;
    padding: 30px 30px;
    margin: 50px 50px;
    background-color: lightblue;
    background-image: url("arunachalam.jpg");
    
}
.center-form{
    justify-content: center;
    display: flex;
    margin: 40px 50px;
    padding: 30px;
    
}

#title{
    
    background-color: maroon;
}
h2 {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text]{
    width: 60%;
    background-color: aliceblue;
    border-radius: 4px;
}
input[type=tel]{
    width: 60%;
    background-color: aliceblue;
    border-radius: 4px;
}
select{
    width: 60%;
    background-color: aliceblue;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    
    width: 100%;
    background-color: #27a72b;
    color: rgb(230, 215, 215);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #09f815;
}
.submit-success{
    display: none;
}
.submit-error{
    display: none;
}
.submit-error[data-submit="error"]{
    display: block;
}

